[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GrabSVG"]
	path = GrabSVG
	url = https://github.com/cran/GrabSVG
[submodule "scBSP"]
	path = scBSP
	url = https://github.com/castleli/scbsp
